{% extends 'base.html' %}
{% load mptt_tags %}
{% block content %}
<ul><a href="{% url 'group_add' %}"><b>Добавить</b></a><b> | </b>
    <a href="{% url 'group_import' %}"><b>Импортировать</b></a><b> | </b>
	<a href="{% url 'group_truncate' %}"><b>Очистить все</b></a>
</ul>
<ul class="root">
    {% recursetree groups %}
        <li>
            <a href="{% url 'group_detail' pk=node.pk %}">{{ node.group_name }}{% if node.checked_out_by is not Null %} <span style="color: Blue">(Взято на изменение: {{ node.checked_out_by }} {{ node.checked_out }})</span>{% endif %}</a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
{% endblock %}
