{% extends 'base.html' %}
{% block content %}
    <div class="sql_detail">
		<ul><a href="{% url 'sql_edit' pk=sql.pk %}"><b>Редактировать</b></a><b> | </b>
		    <a href="{% url 'sql_del' pk=sql.pk %}"><b>Удалить</b></a><b> | </b>
			<a href="{% url 'sql_checkout' pk=sql.pk %}"><b>CheckOUT</b></a><b> | </b>
			<a href="{% url 'sql_checkin' pk=sql.pk %}"><b>CheckIN</b></a>
	    </ul>
        <ul><a href="{% url 'sql_list' %}">Назад к справочнику SQL запросов</a></ul>
		{% if sql.checked_out_by is not Null %}
		 <ul><table>
			<tr><th class="th_checkout">{{ sql.get_checked_out_label }}</th><td class="td_checkout">{{ sql.checked_out }}</td></tr>
			<tr><th class="th_checkout">{{ sql.get_checked_out_by_label }}</th><td class="td_checkout">{{ sql.checked_out_by }}</td></tr>
		 </table></ul>
		{% endif %}
        <ul><h3>{{ sql.sql_name }}</h3></ul>
		<ul><table>
			<tr><th style="width:20%">Наименование:</th><td>{{ sql.sql_name }}</td></tr>
			<tr><th>CHECKOUT запрос:</th><td>{{ sql.checkout_sql }}</td></tr>
			<tr><th>CHECKIN запрос:</th><td>{{ sql.checkin_sql }}</td></tr>
			<tr><th>Запрос для импорта:</th><td>{{ sql.checkout_sql_all }}</td></tr>
			<tr><th>{{ sql.get_deleted_label }}</th><td>{{ sql.get_deleted_display }}</td></tr>
			<tr><th>{{ sql.get_created_label }}</th><td>{{ sql.created }}</td></tr>
			<tr><th>{{ sql.get_created_by_label }}</th><td>{{ sql.created_by }}</td></tr>
			<tr><th>{{ sql.get_modified_label }}</th><td>{{ sql.modified }}</td></tr>
			<tr><th>{{ sql.get_modified_by_label }}</th><td>{{ sql.modified_by }}</td></tr>
			<tr><th>{{ sql.get_checked_out_label }}</th><td>{{ sql.checked_out }}</td></tr>
			<tr><th>{{ sql.get_checked_out_by_label }}</th><td>{{ sql.checked_out_by }}</td></tr>
		 </table></ul>
    </div>
{% endblock %}